/*!
 * civitbot.css
 * Version: 0.0.1
 */

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav {
	margin: 0 -10px 0 -10px;
	padding: 5px 15px 5px 15px;
	width: 100%;
	height: 50px;
	background: linear-gradient(to bottom, #E6E6E6 0%, #FFFFFF 100%);
	box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.75);
	position: relative;
	z-index: 2;
}

footer {
	text-align: center;
	padding: 5px;
	background: #E8E8E8;
	border-top: 1px solid #D6D6D6;
	font-weight: bold;
}

p {
	font-size: 16px;
}

.main_container {
	width: 1100px;
	margin: 0 auto;
	/*background: #A4C5ED;
	border: 1px #86B3EB solid;*/
	position: relative;
	z-index: 1;
}

.main_container h1{
	text-align: center;
}

.info_main_container div:nth-child(3n) {
	margin-right: 0; !important;
}

.info_container, .big_info_container {
	float: left;
	border-radius: 3px;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
	width: calc(100%/3 - 7px);
	margin-right: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
	text-align: center;
}

.big_info_container {
	width: 100%;
	margin-right: 0;
}

.chart {
	max-width: calc(100% - 20px);
}

.twitter_tag {
	position: absolute;
	right: -3px;
	top: -3px;
	z-index: 2
}

.twitter_tag img{
	width: 30px;
}

.left_legend, .right_legend{
	margin-top: 5px;
}

.left_legend span, .right_legend span{
	display: block;
	margin-bottom: 5px;
	padding: 3px 5px 3px 5px;
	color: white;
	font-size: 14px;
	border-radius: 3px;
	font-weight: bold;
}

.odometer {
	font-size: 36px;
	font-weight: bold;
}

@media only screen and (max-width: 500px) {
	p {
		padding: 0 5px 0 5px;
	}

	.main_container {
		width: 100%; !important;
	}

    .info_container, .big_info_container {
		margin-right: 0; !important;
		width: 100%; !important;
	}

	.twitter_tag {
		right: 0; !important;
	}
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {
	.main_container {
		width: 100%; !important;
	}

    .info_container, .big_info_container {
		margin-right: 0; !important;
		width: calc(50% - 5px); !important;
	}

	.info_main_container div:nth-child(2n) {
		margin-right: 0; !important;
	}

	.twitter_tag {
		right: 0; !important;
	}
}

@media only screen and (min-width: 1100px) {
	.info_main_container div:nth-child(3n) {
		margin-right: 0; !important;
	}

	.legend {
		position: absolute;
		top: 0;
		margin-top: 0; !important;
	}

	.left_legend{
		left: -155px;
	}

	.right_legend {
		right: -105px;
	}
}
