/*!
 * civitbot.css
 * Version: 0.0.1
 */


.closebt{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;

}

#closebt-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.title-head {
    color: #FFF !important;
}



